
#header {
	line-height: 4em;
	background-color: #2D546A;
	margin-bottom:2em;
	color: white;

	h1{
		margin:0;
		margin-left: 1em;
		font-size: 1.5em;
		display: inline-block;
		vertical-align: middle;
	}

	ul{
		margin:0;
	}

	a:focus {
	    outline: thin dotted;
	    outline: 5px auto -webkit-focus-ring-color;
	    outline-offset: -2px;
	}

	a:hover, a:focus {
	    color: #FFF;
	    text-shadow: 0px 0px 2px rgba(255,255,255,0.3);
	}

	a:active, a:hover {
	    outline: 0;
	}

	a {
	    color: #DDD;
	    text-decoration: none;
	}

}

.header-options {
	text-align: right;
	font-size: 1em;
	display: inline-block;
	vertical-align: middle;
}

#header img{
	display: inline-block;
	vertical-align: middle;
	height:3em;
	width: auto;
}
